@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background: linear-gradient(to bottom, #181818, #0f0f0d);
    color: #fff;
}


.link-text{
    font-size: 3rem;
    padding: .75rem;
    letter-spacing: 2px;
    transition: all 0.2s ease-in;
    &:hover{
        color: #f6fa12;
    }
}

.active {
    transition: all 0.2s ease-in;
    background: #141514;
    border-radius: 10px;
    color:#ec0c0c;
}